<div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_tweet" tw:count="none"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js"></script>
