{% layout settings.customer_layout %}
<div id="customer-login">
  <div class="row">
    <div id="login" class="span7">
      <h2 class="title">Login</h2>

      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <label for="customer_email" class="label">Email Address</label>
      <input type="email" value="" name="customer[email]" id="customer_email" class="text" />

      {% if form.password_needed %}
      <label for="customer_password" class="label">Password</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
      <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
      {% endif %}

      <div class="action_bottom">
        <input class="btn" type="submit" value="Sign In" />
      </div>
      {% endform %}
    </div>
    
    <div id="recover-password" style="display:none;" class="span7">
      <h2>Reset Password</h2>
      <p class="note">We will send you an email to reset your password.</p>

      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="email" class="label">Email Address</label>
      <input type="email" value="" size="30" name="email" id="recover-email" class="text" />

      <input class="btn" type="submit" value="Submit" />
      <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
      {% endform %}
    </div>
    
    {% if shop.checkout.guest_login %}
    <div id="guest" class="span5">
      <h2>Guest Login</h2>
      {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />
      {% endform %}
    </div>
    {% endif %}
    
  </div>
</div>

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
